@import url(./vendor/normalize.css);

* {
  margin: 0;
  padding: 0;
}

.app {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 30px;
  background-color: rgb(199, 196, 196);
}

.main__title {
  margin: 0 0 25px 0;
  font-size: 22px;
}

.board {
  width: 512px;
  height: 512px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.cell img:hover {
  cursor: pointer;
}

.black {
  background-color: rgb(18, 67, 119);
}

.white {
  background-color: rgb(168, 215, 220);
}

.cell_available {
  background-color: #adff2f;
}

.selected {
  background-color: brown;
}

.available {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #adff2f;
}

.lost {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lost__container {
  height: calc(50vh - 60px);
  padding: 30px;
}

.lost__title {
  margin: 0 0 10px 0;
  font-size: 22px;
}

.lost__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.lost__item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.lost__subtitle {
  margin: 0;
  font-size: 16px;
}

.lost__image {
  display: block;
  width: 16px;
  height: 16px;
}