* {
  margin: 0;
  padding: 0;
}

.app {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.board {
  width: 512px;
  height: 512px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.cell img:hover {
  cursor: pointer;
}

.black {
  background-color: rgb(118, 73, 73);
}

.white {
  background-color: rgb(185, 182, 182);
}

.cell_available {
  background-color: #adff2f;
}

.selected {
  background-color: brown;
}

.available {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #adff2f;
}