* {
  margin: 0;
  padding: 0;
}

.app {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.board {
  width: 512px;
  height: 512px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black {
  background-color: rgb(118, 73, 73);
}

.white {
  background-color: rgb(243, 239, 239);
}